*  {
  margin:0;
  padding:0;
};

body{
  overflow: scroll;
}

#canvas1,#background,#guide {
  position:absolute;
  top:0;
  left:0;
  width:4000px;
  height:4000px;
}
#background{
  color:black;
  background-color: lightgoldenrodyellow;
  z-index: -10;
}
#canvas1{
  z-index:-5
}
#guide{
  z-index:-1;
}

#finances{
  display:none;
  grid-template-columns: 1fr 1fr;
}

#train {
  display:none;
  position:fixed;
  top:0;
  left:50%;
  width:500px;
  font-size:30px;
  column-gap: 5px;
  background-color: beige;
  border:1px solid black;
  row-gap: 5px;
}
#train > .header{
  grid-template-columns: auto;
  justify-self: center;
}
.trainButtons{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}
#train>*{
  border-radius: 20px;
  margin: 5px;
    padding: 5px;
}
#newTrain{
  font-size: 20px;
  grid-template-columns: 2fr 1fr;
  display:grid;  
}
#buttonTrainAdd,#buttonTrainDelete,#buttonTrainEdit,#buttonTrainRoute,#buttonTrainAddOk,#buttonTrainAddCancel{
  font-size: 20px;
  width:75px;
  height:40px;
}
